OPENWEBUI_URL=http://127.0.0.1:3000
OPENWEBUI_API_KEY=replace-me
OPENWEBUI_DEFAULT_MODEL=
OPENWEBUI_DEFAULT_WEB_MODEL=
LOCAL_AI_MODEL_CACHE_TTL_SEC=15
LOCAL_AI_HTTP_TIMEOUT_SEC=180
LOCAL_AI_LOCK_WAIT_TIMEOUT_SEC=300
LOCAL_AI_MAX_AUTO_QUERIES=4
LOCAL_AI_DEFAULT_SEARCH_RESULTS=5
LOCAL_AI_MAX_SEARCH_RESULTS=10
LOCAL_AI_MAX_RESEARCH_ROUNDS=2
LOCAL_AI_MAX_TOTAL_RESEARCH_RESULTS=10
LOCAL_AI_MUTEX_NAME=Local\CodexLocalAIHelperInference
